.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: linear-gradient(rgb(255,255,255), rgb(202, 150, 202), rgb(102, 102, 216));
}

.container{
    max-width: 955px;
    background-color: rgb(247, 70, 70);
    margin: auto;
    height: 60vh;
}
.message{
background-color: grey;
width: 24%;
padding: 10px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;
}
.left{
float: left;
clear: both;

}
.right{
    float: right;
    clear: both;
    
}